.CajaDeBusqueda {
  width: 50%;
  margin: auto;
  padding: 25px;
  margin: auto;
  color: black;
  display: flex;

}
.CajaDeBusqueda .CajaDeBusqueda--input {
  width: 90%;
  padding: 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  font-family: 'Roboto Mono', monospace; 
  font-size: 110%;
}
.CajaDeBusqueda .CajaDeBusqueda--btn {
  width: 10%;
  color: grey;
  padding: 10px ;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  cursor: pointer;
  font-size: 110%;
} 
.contenido {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
} 
.contenido--fila {
  gap: 1rem;
}
.contenido .contenido--fila img {
  width: 350px;
  height: 350px;
  /* border: 1px solid grey; */
  border-radius: 10px;
  /* max-width: 100%; */
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center; 
  gap: 20px;
  transition: all 0.5s ease-in-out;
}
.info {
  /* border: 1px solid grey; */
  width: 100%;
  height:auto;
  font-family: 'Roboto Mono', monospace;
  text-align: center; 
  text-overflow: ellipsis;
  
  /* overflow: scroll; */
}
.info  p {
  margin: 5px auto;
  /* border: 1px solid grey; */
  width: 100%;
}
.info  a {
  margin: 10px auto;
  width: 100%;
  
}
.info  p strong {
  text-decoration: underline 2px;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  max-width: 40%;
  margin: 5px auto;
  /* align-items: center; */
  /* text-decoration: none; */
  text-align: center;
  /* background-color: gainsboro; */
  /* text-overflow: ellipsis; */
  /* margin: 0 4px 10px 0; */
  cursor: pointer;
  
}
.tags span {
  width: 100%;
  margin: 0 auto;
  background-color: gainsboro;
  border: 1px solid grey;
  border-radius: 5px;
  align-items: center;
  transition: background-color 0.3s ease;
}
.tags span:hover {
  background-color: gray;
  border: 2px solid black;
}
.image-hover {
  transform: scale(1.1);
}
.boton--busqueda {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton--busqueda:hover {
  background-color: #0062cc;
}
.boton--descargar {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton--descargar:hover {
  background-color: #218838;
}

